<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	<div th:fragment="mngHeader">
	    <header>
	        <nav>
	            <a th:href="@{/mngMain}" class="go_mng_a">BNK 관리자 페이지</a> 
	            <a href="">로그아웃</a>
	        </nav>
	    </header>
	</div>

	<div th:fragment="mngSideBar">
    <section id="mngSideBar">
        <nav>
            <h3>관리 메뉴</h3>
            
            <div th:onclick="|location.href='@{/ppsPage}'|" data-uri="/ppsPage" id="pps_button" class="sideBar_button">제안서 관리</div>
            <div th:onclick="|location.href='@{/prdPage}'|" data-uri="/prdPage" id="prd_button" class="sideBar_button">상품 관리</div>
            <div th:onclick="|location.href='@{/stfPage}'|" data-uri="/stfPage" id="stf_button" class="sideBar_button">직원 관리</div>
            <div th:onclick="|location.href='@{/mmbPage}'|" data-uri="/mmbPage" id="mmb_button" class="sideBar_button">고객 관리</div>
            <div th:onclick="|location.href='@{/comuPage}'|" data-uri="/comuPage" id="comu_button" class="sideBar_button">커뮤니티 공지</div>
        </nav>
    </section>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
        	
            // 현재 브라우저의 주소창 경로 -> Ex) /prdPage
            const currentPath = window.location.pathname;
            
            // 모든 사이드바 버튼을 찾아서 반복문으로 순회
            const buttons = document.querySelectorAll('.sideBar_button');
            buttons.forEach(button => {
                // 버튼에 지정된 data-uri 값과 현재 주소가 일치하면 active 클래스 추가
                if (button.getAttribute('data-uri') === currentPath) {
                    button.classList.add('active');
                }
            });
        });
    </script>
</div>
</body>
</html>