<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bnk.dao.member.IAccountTransactionDao">

	<!-- 거래내역 정보 출력 -->
    <select id="findTransactionsByAccountNo" parameterType="long" resultType="com.example.bnk.dto.member.AccountTransactionDto">
    SELECT
        TRANSACTION_NO AS transaction_no,
        FROM_ACCOUNT_NUMBER AS from_account_number,
        TO_ACCOUNT_NUMBER AS to_account_number,
        AMOUNT AS amount,
        TRANSACTION_TYPE AS transaction_type,
        BALANCE_AFTER AS balance_after,
        MEMO AS memo,
        COUNTERPARTY_NAME AS counterparty_name,
        TRANSACTION_AT AS transaction_at
    FROM tb_account_transaction
    WHERE FROM_ACCOUNT_NUMBER = (
        SELECT ACCOUNT_NUMBER
        FROM tb_account
        WHERE ACCOUNT_NO = #{accountNo}
    )
    OR TO_ACCOUNT_NUMBER = (
        SELECT ACCOUNT_NUMBER
        FROM tb_account
        WHERE ACCOUNT_NO = #{accountNo}
    )
    ORDER BY TRANSACTION_AT DESC
</select>
    
</mapper>