<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bnk.dao.member.IBankMemberDao">

	<select id="findByUsername" resultType="com.example.bnk.dto.member.BankMemberDto">
		SELECT *
		FROM TB_BANK_MEMBER
		WHERE login_id = #{id}
	</select>
	
	<insert id="regist">
		INSERT INTO TB_BANK_MEMBER(
	        login_id, password_hash, member_name, member_type, member_identifier,
	        gender, birth_date, phone_number, email, adress, credit_score
        )
    	VALUES(
    		#{dto.login_id}, #{dto.password_hash}, #{dto.member_name}, #{dto.member_type},
	    	#{dto.member_identifier}, #{dto.gender}, #{dto.birth_date}, #{dto.phone_number},
	    	#{dto.email}, #{dto.adress}, #{dto.credit_score}
    	)
	</insert>
	
	<update id="editMember">
    <set>
        <if test="dto.password_hash != null">password_hash = #{dto.password_hash},</if>
        <if test="dto.phone_number != null">phone_number = #{dto.phone_number},</if>
        <if test="dto.email != null">email = #{dto.email},</if>
        <if test="dto.adress != null">adress = #{dto.adress},</if>
        UPDATE_AT = SYSDATE
    </set>
    WHERE login_id = #{dto.login_id}
    </update>

	<select id="showMember" resultType="com.example.bnk.dto.member.BankMemberDto">
		SELECT * FROM TB_BANK_MEMBER
		WHERE birth_date = #{birth_date}
		AND phone_number = #{phone_number}
		AND member_name = #{member_name}
	</select>

	<select id="findMemberById" parameterType="String" resultType="com.example.bnk.dto.member.BankMemberDto">
        SELECT
            MEMBER_NO,
            LOGIN_ID,
            PASSWORD_HASH,
            MEMBER_NAME,
            MEMBER_TYPE,
            MEMBER_IDENTIFIER,
            GENDER,
            BIRTH_DATE,
            PHONE_NUMBER,
            EMAIL,
            ADRESS,
            CREDIT_SCORE,
            MEMBER_STATUS,
            CREATED_AT,
            UPDATE_AT,
            LAST_LOGIN_AT
        FROM tb_bank_member
        WHERE LOGIN_ID = #{loginId}
    </select>
    
    <select id="findByAll" resultType="com.example.bnk.dto.member.BankMemberDto">
    	SELECT * FROM TB_BANK_MEMBER;
    </select>

    <update id="updatePassword">
        UPDATE TB_BANK_MEMBER
        SET PASSWORD_HASH = #{newPassword},
            UPDATE_AT = SYSDATE
        WHERE LOGIN_ID = #{loginId}
    </update>
    
    <select id="idCheck">
    	SELECT COUNT(*) FROM TB_BANK_MEMBER WHERE LOGIN_ID = #{param}
    </select>
    
    <update id="updateLastLoginAt">
	    UPDATE TB_BANK_MEMBER
	    SET LAST_LOGIN_AT = SYSDATE
	    WHERE LOGIN_ID = #{loginId}
	</update>
	
	<update id="withdrawMember">
	    UPDATE TB_BANK_MEMBER
	    SET MEMBER_STATUS = 'WITHDRAWN',
	        UPDATE_AT = SYSDATE
	    WHERE LOGIN_ID = #{loginId}
	</update>
	
	<!-- 회원 상태 변경 -->
	<update id="updateMemberStatus">
	    UPDATE TB_BANK_MEMBER
	    SET MEMBER_STATUS = #{memberStatus},
	        UPDATE_AT = SYSDATE
	    WHERE LOGIN_ID = #{loginId}
	</update>
</mapper>